In [1]:
import pandas as pd
from sklearn import tree
import matplotlib.pyplot as plt

In [ ]:
#helpful links
# example solution: https://www.kaggle.com/code/caesarmario/survival-prediction-w-various-ml-models/notebook#4.-|-Reading-Dataset-%F0%9F%91%93
# helpful figure: https://imgur.com/zbFvhx8
# how to bin: https://towardsdatascience.com/data-preprocessing-with-python-pandas-part-5-binning-c5bd5fd1b950
# see notebook for rough steps: imputing, binning, one-hot encoding, drop unused columns

In [ ]:
# To-do
# - encode text features
# - deal with features with no data point
# - add all this to a pipeline and process the test and train dataset
# - train and evalute the model

In [13]:
test = pd.read_csv('./data/test.csv')
train = pd.read_csv('./data/train.csv')
print(len(train))
print(len(test))

891
418

In [14]:
# combine the train and test datasets into one dataset for preprocessing
df = pd.concat([train, test])
print(len(df))

1309

In [15]:
print(df.head())

   PassengerId  Survived  Pclass  \
0            1       0.0       3
1            2       1.0       1
2            3       1.0       3
3            4       1.0       1
4            5       0.0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [16]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  1309 non-null   int64
 1   Survived     891 non-null    float64
 2   Pclass       1309 non-null   int64
 3   Name         1309 non-null   object
 4   Sex          1309 non-null   object
 5   Age          1046 non-null   float64
 6   SibSp        1309 non-null   int64
 7   Parch        1309 non-null   int64
 8   Ticket       1309 non-null   object
 9   Fare         1308 non-null   float64
 10  Cabin        295 non-null    object
 11  Embarked     1307 non-null   object
dtypes: float64(3), int64(4), object(5)
memory usage: 132.9+ KB
None

In [17]:
# see how many null values each column has (expect null values in survived as that is only in train set)
print(df.isnull().sum())

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              1
Cabin          1014
Embarked          2
dtype: int64

In [18]:
# fill the Age and Fare with average age and fare
df['Age'].fillna(df['Age'].mean(), inplace = True)
df['Fare'].fillna(df['Fare'].mean(), inplace = True)
# drop cabin and embarked
df.drop(['Cabin'], axis=1, inplace = True)
df.drop(['Embarked'], axis=1, inplace = True)
print(df.isnull().sum())

PassengerId      0
Survived       418
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
dtype: int64

In [ ]:
corre_mat = train.corr()

In [ ]:
corre_mat["Survived"].sort_values(ascending=False)

In [ ]:
from pandas.plotting import scatter_matrix

attributes = ["Survived", "Fare", "Pclass"]

scatter_matrix(train[attributes])

In [ ]:
# fill the null values in the train dataset
# replace missing ages with the average age
# replace missing embarked with the mode for this column
train.fillna({"Age":train['Age'].mean(), "Embarked": train['Embarked'].mode()[0]},inplace=True)

In [ ]:
# fill the null values in the test dataset
# replace missing ages with the average age
test.fillna({"Age":train['Age'].mean(), "Fare": train['Fare'].mode()[0]},inplace=True)

In [ ]:
# drop cabin from both datasets
train.drop(['Cabin'],axis=1,inplace=True)
test.drop(['Cabin'],axis=1,inplace=True)

In [ ]:
test.info()

In [ ]:
train.info()